@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}

.bgHome{
    background-image: url(../src/assets//Images/bghome.svg);
}
.box_shadow{
    box-shadow: 15px 15px 0px white;
}

select option:disabled {
    color: #6B7280; /* Replace with your color */
  }